

@{
    ViewBag.Title = "Search";
    var user = ViewBag.User;
}

<div style="position:absolute;width:100%;left:0;right:0;" class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list show" aria-labelledby="messageDropdown">
    <a style="display:flex;align-items:center;padding:1rem" class="dropdown-item preview-item">
        <div class="preview-thumbnail">
            <img src="../../assets/images/faces/face4.jpg" alt="image" class="rounded-circle profile-pic">
        </div>
        <div style="display:flex;" class="preview-item-content">
            <p class="preview-subject ellipsis mb-1">mBaby </p>
        </div>
    </a>
</div>
