
@{
     ViewBag.Title = "Sidebar";
}
 
<nav style="width:300px;" class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
        <a href="@Url.Action("Index", "Home")" class="sidebar-brand-name font-weight-bold h3 text-white" style="letter-spacing:8px;display:flex">
            <span>C</span>
            <span>H</span>
            <span>A</span>
            <span>T</span>
            <span>F</span>
            <span>L</span>
            <span>O</span>
            <span>W</span>
        </a>
        <!--    <a class="sidebar-brand brand-logo-mini" href="../../index.html"><img src="../../assets/images/logo-mini.svg" alt="logo" /></a>-->
    </div>
    <ul style="overflow:visible;" class="nav">
        <li class="">
            <div class="d-flex bd-highlight">
                <div style="display:flex;justify-content:center;align-items:center;" class="img_cont">
                    <img style="width:65%;height:65%;" src="https://www.gravatar.com/avatar/d522537123bae3faaaedb7fcd8e6c565?d=identicon&s=150" class="rounded-circle user_img">
                </div>
                <div class="user_info">
                    <span>Vitaly</span>
                </div>
                <div style="display:flex; align-items:center;justify-content:center; margin: 0 0 0 auto;">



                    <div class="dropdown">
                        <button class="btn" type="button" id="dropdownMenuOutlineButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div style="rotate:90deg;display:flex;gap:2px;">   <span>.</span>  <span>.</span>  <span>.</span>  </div>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuOutlineButton1" style="">
                            <h6 class="dropdown-header">Settings</h6>
                            <a style="display:flex;gap:3px;" class="dropdown-item" href="#">
                                <div style="display:flex;justify-content:center;align-items:center;width:25px;height:25px;" class="preview-icon bg-dark rounded-circle">
                                    <i class=" mdi mdi-delete-forever text-danger"></i>
                                </div>
                                <div>
                                    Delete group

                                </div>
                            </a>
                            <div class="dropdown-divider"></div>

                            <a style="display:flex;gap:3px;" class="dropdown-item" href="#">
                                <div style="display:flex;justify-content:center;align-items:center;width:25px;height:25px;" class="preview-icon bg-dark rounded-circle">
                                    <i class=" mdi mdi-arrow-up-bold-circle-outline text-success"></i>
                                </div>
                                <div>
                                    Invite to group

                                </div>
                            </a>
                            <div class="dropdown-divider"></div>



                            <a style="display:flex;gap:3px;" class="dropdown-item" href="#">
                                <div style="display:flex;justify-content:center;align-items:center;width:25px;height:25px;" class="preview-icon bg-dark rounded-circle">
                                    <i class=" mdi mdi-account-multiple text-warning"></i>
                                </div>
                                <div>
                                    See all Members

                                </div>
                            </a>


                        </div>
                    </div>
                </div>
</li>

        <li class="">
            <div class="d-flex bd-highlight">
                <div style="display:flex;justify-content:center;align-items:center;" class="img_cont">
                    <img style="width:65%;height:65%;" src="https://www.gravatar.com/avatar/d522537123bae3f2aaaedb7fcd8e6c565?d=identicon&s=150" class="rounded-circle user_img">
                </div>
                <div class="user_info">
                    <span>Gregory</span>
                </div>
                <div style="display:flex; align-items:center;justify-content:center; margin: 0 0 0 auto;">



                    <div class="dropdown">
                        <button class="btn" type="button" id="dropdownMenuOutlineButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div style="rotate:90deg;display:flex;gap:2px;">   <span>.</span>  <span>.</span>  <span>.</span>  </div>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuOutlineButton1" style="">
                            <h6 class="dropdown-header">Settings</h6>
                            <a style="display:flex;gap:3px;" class="dropdown-item" href="#">
                                <div style="display:flex;justify-content:center;align-items:center;width:25px;height:25px;" class="preview-icon bg-dark rounded-circle">
                                    <i class=" mdi mdi-delete-forever text-danger"></i>
                                </div>
                                <div>
                                    Delete group

                                </div>
                            </a>
                            <div class="dropdown-divider"></div>

                            <a style="display:flex;gap:3px;" class="dropdown-item" href="#">
                                <div style="display:flex;justify-content:center;align-items:center;width:25px;height:25px;" class="preview-icon bg-dark rounded-circle">
                                    <i class=" mdi mdi-arrow-up-bold-circle-outline text-success"></i>
                                </div>
                                <div>
                                    Invite to group

                                </div>
                            </a>
                            <div class="dropdown-divider"></div>



                            <a style="display:flex;gap:3px;" class="dropdown-item" href="#">
                                <div style="display:flex;justify-content:center;align-items:center;width:25px;height:25px;" class="preview-icon bg-dark rounded-circle">
                                    <i class=" mdi mdi-account-multiple text-warning"></i>
                                </div>
                                <div>
                                    See all Members

                                </div>
                            </a>


                        </div>
                    </div>
                </div>
</li>

        <li class="">
            <div class="d-flex bd-highlight">
                <div style="display:flex;justify-content:center;align-items:center;" class="img_cont">
                    <img style="width:65%;height:65%;" src="https://www.gravatar.com/avatar/d522537123bdsae3faaaedb7fcd8e6c565?d=identicon&s=150" class="rounded-circle user_img">
                </div>
                <div class="user_info">
                    <span>Stepany</span>
                </div>
                <div style="display:flex; align-items:center;justify-content:center; margin: 0 0 0 auto;">



                    <div class="dropdown">
                        <button class="btn" type="button" id="dropdownMenuOutlineButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div style="rotate:90deg;display:flex;gap:2px;">   <span>.</span>  <span>.</span>  <span>.</span>  </div>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuOutlineButton1" style="">
                            <h6 class="dropdown-header">Settings</h6>
                            <a style="display:flex;gap:3px;" class="dropdown-item" href="#">
                                <div style="display:flex;justify-content:center;align-items:center;width:25px;height:25px;" class="preview-icon bg-dark rounded-circle">
                                    <i class=" mdi mdi-delete-forever text-danger"></i>
                                </div>
                                <div>
                                    Delete group

                                </div>
                            </a>
                            <div class="dropdown-divider"></div>

                            <a style="display:flex;gap:3px;" class="dropdown-item" href="#">
                                <div style="display:flex;justify-content:center;align-items:center;width:25px;height:25px;" class="preview-icon bg-dark rounded-circle">
                                    <i class=" mdi mdi-arrow-up-bold-circle-outline text-success"></i>
                                </div>
                                <div>
                                    Invite to group

                                </div>
                            </a>
                            <div class="dropdown-divider"></div>



                            <a style="display:flex;gap:3px;" class="dropdown-item" href="#">
                                <div style="display:flex;justify-content:center;align-items:center;width:25px;height:25px;" class="preview-icon bg-dark rounded-circle">
                                    <i class=" mdi mdi-account-multiple text-warning"></i>
                                </div>
                                <div>
                                    See all Members

                                </div>
                            </a>


                        </div>
                    </div>
                </div>
</li>

        <li class="active">
            <div class="d-flex bd-highlight">
                <div style="display:flex;justify-content:center;align-items:center;" class="img_cont">
                    <img style="width:65%;height:65%;" src="https://www.gravatar.com/avatar/d522537d123bdsae3faaaedb7fcd8e6c565?d=identicon&s=150" class="rounded-circle user_img">
                </div>
                <div class="user_info">
                    <span>Managers Group</span>
                </div>
                <div style="display:flex; align-items:center;justify-content:center; margin: 0 0 0 auto;">



                    <div class="dropdown">
                        <button class="btn" type="button" id="dropdownMenuOutlineButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div style="rotate:90deg;display:flex;gap:2px;">   <span>.</span>  <span>.</span>  <span>.</span>  </div>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuOutlineButton1" style="">
                            <h6 class="dropdown-header">Settings</h6>
                            <a style="display:flex;gap:3px;" class="dropdown-item" href="#">
                                <div style="display:flex;justify-content:center;align-items:center;width:25px;height:25px;" class="preview-icon bg-dark rounded-circle">
                                    <i class=" mdi mdi-delete-forever text-danger"></i>
                                </div>
                                <div>
                                    Delete group

                                </div>
                            </a>
                            <div class="dropdown-divider"></div>

                            <a style="display:flex;gap:3px;" class="dropdown-item" href="#">
                                <div style="display:flex;justify-content:center;align-items:center;width:25px;height:25px;" class="preview-icon bg-dark rounded-circle">
                                    <i class=" mdi mdi-arrow-up-bold-circle-outline text-success"></i>
                                </div>
                                <div>
                                    Invite to group

                                </div>
                            </a>
                            <div class="dropdown-divider"></div>



                            <a style="display:flex;gap:3px;" class="dropdown-item" href="#">
                                <div style="display:flex;justify-content:center;align-items:center;width:25px;height:25px;" class="preview-icon bg-dark rounded-circle">
                                    <i class=" mdi mdi-account-multiple text-warning"></i>
                                </div>
                                <div>
                                    See all Members

                                </div>
                            </a>


                        </div>
                    </div>

@*
<li class="nav-item dropdown border-left">
            <a class="nav-link count-indicator dropdown-toggle" id="groupManagement" href="#" data-toggle="dropdown">
                <div style="rotate:90deg;display:flex;gap:2px;">   <span>.</span>  <span>.</span>  <span>.</span>  </div>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="groupManagement">
                <a style="display:flex;align-items:center;" class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                        <div class="preview-icon bg-dark rounded-circle">
                            <i class=" mdi mdi-delete-forever text-success"></i>
                        </div>
                    </div>
                    <div class="preview-item-content">
                        <p class="preview-subject mb-1">Delete Group</p>
                    </div>
                </a>

                <div class="dropdown-divider"></div>
                <a style="display:flex;align-items:center;" class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                        <div class="preview-icon bg-dark rounded-circle">
                            <i class=" mdi mdi-account-multiple text-warning "></i>
                        </div>
                    </div>
                    <div class="preview-item-content">
                        <p class="preview-subject mb-1">See all Members</p>
                    </div>
                </a>

                <div class="dropdown-divider"></div>
                <a style="display:flex;align-items:center;" class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                        <div class="preview-icon bg-dark rounded-circle">
                            <i class=" mdi mdi-arrow-up-bold-circle-outline text-success"></i>
                        </div>
                    </div>
                    <div class="preview-item-content">
                        <p class="preview-subject mb-1">Add to Group +</p>
                    </div>
                </a>


            </div>
        </li>*@




        </div>
        </div>
        </li>
        @*    <div style="background: #dee2e6; margin-bottom: 1px; border-radius: 0;color : #000000;">
            <div style="padding: .5rem;">
                <div style="display: flex; align-items: flex-start;">
                    <img src="profile-image.jpg" alt="Profile Image" style="background:red;width: 50px; height: 50px; border-radius: 50%; margin-right: 1rem;">
                    <div>
                        <h5 style="margin-top: 0; margin-bottom: 0.5rem;">John Doe</h5>
                        <p style="margin-bottom: 0;">Last message: Hi there!</p>
                    </div>
                </div>
            </div>
        </div>*@


        @*  <li class="nav-item menu-items">
             <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                  <span class="menu-icon">
                       <i class="mdi mdi-security"></i>
                  </span>
                  <span class="menu-title">Groups</span>
                  <i class="menu-arrow"></i>
             </a>
             <div class="collapse" id="auth">
                 <ul class="nav flex-column sub-menu">
                     <li class="nav-item"> <a class="nav-link" href="../../pages/samples/blank-page.html"> General </a></li>
                     <li class="nav-item"> <a class="nav-link" href="@Url.Action("Home", "Home")"> Random </a></li>
                     <li class="nav-item"> <a class="nav-link" href="@Url.Action("Login", "Account")"> Login </a></li>
                     <li class="nav-item"> <a class="nav-link" href="@Url.Action("Register", "Account")"> Register </a></li>
                 </ul>
             </div>
        </li>

        <li class="nav-item menu-items">
             <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                  <span class="menu-icon">
                       <i class="mdi mdi-security"></i>
                  </span>
                  <span class="menu-title">Direct Messages</span>
                  <i class="menu-arrow"></i>
             </a>
             <div class="collapse" id="auth">
                  <ul class="nav flex-column sub-menu">
                       <li class="nav-item"> <a class="nav-link" href="#"> General </a></li>
                       <li class="nav-item"> <a class="nav-link" href="#"> Random </a></li>
                       <li class="nav-item"> <a class="nav-link" href="#"> Add Channel </a></li>
                       <li class="nav-item"> <a class="nav-link" href="#"> Login </a></li>
                       <li class="nav-item"> <a class="nav-link" href="#"> Register </a></li>
                  </ul>
             </div>
        </li>*@

    </ul>
</nav>
